/* Header Component Styles */
.header {
  width: 100%;
  background-color: var(--color-white);
  padding-top: var(--spacing-regular-20);
  padding-bottom: var(--spacing-regular-20);
  box-shadow: var(--shadow-lg);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 40px;
  width: auto;
}